@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

header,
.nav,
.signup,
.image,
.team,
.quote,
.action {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

header {
    background-color: darkmagenta;
    color: lightpink;
    flex-wrap: wrap;
    padding: 5px 5vw;
    justify-content: space-between;
    gap: 15px;
}

.nav {
    flex: 1 1 100%;
    padding: 10px;
    gap: 20px;
    margin: 0;
}

.nav a {
    color: lightpink;
    text-decoration: none;
}

.logo {
    margin-right: auto;
    height: auto;
    width: auto;
    flex: 0 1 auto;
}

.signup, .mainImage {
    display: flex;
    flex: 1 1 40%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
    padding: 10px;
}


h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.visitNow {
    background-color: #7dc8ff;
    border: none;
    color: darkmagenta;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

 .team {
    background-color: lightpink;
    color: darkmagenta;
    flex-wrap: wrap;
    padding: 15px 5vw;
    align-items: flex-end;
    gap: 20px;
}

.team h2 {
    flex: 1 1 100%;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0;
}

.teamCard {
    flex: 1 1 0;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamCard img {
    width: 150px;
    height: auto;
    border: 1px groove #4666FF;
}

.quote {
    background-color: darkmagenta;
    color: lightpink;
    flex-wrap: wrap;
    padding: 20px 5vw;
    justify-content: center;
    align-items: center;
}

.testimony {
    flex: 1 1 100%;
    text-align: center;
    font-style: italic;
    font-size: 24px;
    margin: 0px;
}

.quoteName {
    margin-left: 50vw;
    margin-bottom: 0;
}

.action {
    background-color: lightpink;
    color: darkmagenta;
    padding: 10px 5vw;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.actionContainer {
    flex: 0 1 50vw;
    background-color: #7dc8ff;
    border-radius: 10px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 5px 0px;
}

.bookNow {
    border: 2px solid white;
    color: darkmagenta;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  }

.actionText {
    flex: 0 1 60%;
    text-align: justify;
}

footer {
    font-size: 10px;
    background-color: lightgray;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}